<div class="container-fluid text-center">
    <br><br><h1>About Us</h1>
        <br><p style="font-family:'Courier New'"><b>Bike Enthusiast is a next generation ecommerce platform for Bike which are new or pre-owned.</b></p>
    <br><br><h3>What we offer</h3>
    <br>
    <br><br><div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-off"></span>
            <h4>Quality</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-heart"></span>
            <h4>Transparency & Accountability</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        
            <div class="col-sm-4">
                <span class="glyphicon glyphicon-lock"></span>
                <h4>Personalized Experience </h4>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
        </div>
        <br><br>
        <div class="row">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf"></span>
            <h4>Hastle free Transaction</h4>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
</div>